module user_u_wayland_plasma 1.0;

require {
	attribute can_change_object_identity;
	class capability net_admin;
	class capability sys_nice;
	class chr_file { getattr open read write ioctl lock map };
	class dir { getattr search watch read };
	class file { getattr execmod open read watch write execute entrypoint };
	class lnk_file read;
	class process { noatsecure rlimitinh setsched siginh transition };
	class sock_file write;
	class unix_stream_socket { read write };
	role user_r;
	type accountsd_var_lib_t;
	type alsa_var_lib_t;
	type auditd_t;
	type avahi_t;
	type chkpwd_t;
	type chronyd_t;
	type config_home_t;
	type crond_t;
	type cupsd_t;
	type data_home_t;
	type devicekit_disk_t;
	type dhcpc_t;
	type dri_device_t;
	type etc_t;
	type firewalld_t;
	type getty_t;
	type init_t;
	type init_var_run_t;
	type irqbalance_t;
	type kernel_t;
	type locale_t;
	type local_login_t;
	type modemmanager_t;
	type NetworkManager_t;
	type nscd_t;
	type nscd_var_run_t;
	type obex_t;
	type passwd_file_t;
	type pcscd_t;
	type policykit_t;
	type ptmx_t;
	type pulseaudio_t;
	type restorecond_t;
	type rngd_t;
	type root_t;
	type rpm_t;
	type selinux_config_t;
	type session_dbusd_tmp_t;
	type shadow_t;
	type snapperd_t;
	type sshd_t;
	type syslogd_t;
	type system_dbusd_t;
	type systemd_localed_t;
	type systemd_logind_t;
	type systemd_tmpfiles_exec_t;
	type systemd_tmpfiles_t;
	type udev_t;
	type unconfined_dbusd_t;
	type unconfined_service_t;
	type unconfined_t;
	type user_dbusd_t;
	type user_t;
	type user_tmp_t;
	type usr_t;
	type utempter_t;
	type var_run_t;
	type vdagent_t;
	type virt_qemu_ga_t;
	type xdm_t;
	type xkb_var_lib_t;
	type xserver_t;
	type xsession_exec_t;
}

allow chkpwd_t nscd_var_run_t:file read;
allow init_t chkpwd_t:process siginh;
allow init_t shadow_t:file { open read };
allow init_t unconfined_service_t:process siginh;
allow init_t unconfined_t:process siginh;
allow obex_t init_var_run_t:dir search;
allow obex_t user_dbusd_t:unix_stream_socket { read write };
allow obex_t user_tmp_t:sock_file write;
allow pulseaudio_t alsa_var_lib_t:dir search;
allow pulseaudio_t config_home_t:file write;
allow pulseaudio_t user_t:unix_stream_socket { read write };
allow system_dbusd_t unconfined_service_t:process { noatsecure rlimitinh siginh };
allow systemd_logind_t nscd_var_run_t:file read;
allow systemd_logind_t self:capability net_admin;
allow user_dbusd_t data_home_t:file write;
allow user_dbusd_t nscd_var_run_t:file read;
allow user_dbusd_t obex_t:process { noatsecure rlimitinh siginh };
allow user_dbusd_t user_t:process { noatsecure rlimitinh siginh };
allow user_t accountsd_var_lib_t:dir { getattr search read watch };
allow user_t alsa_var_lib_t:dir search;
allow user_t auditd_t:dir { getattr search } ;
allow user_t auditd_t:file { open read };
allow user_t auditd_t:lnk_file read;
allow user_t avahi_t:dir { getattr search };
allow user_t avahi_t:file { open read };
allow user_t avahi_t:lnk_file read;
allow user_t chronyd_t:dir { getattr search };
allow user_t chronyd_t:file { open read };
allow user_t chronyd_t:lnk_file read;
allow user_t crond_t:dir { getattr search };
allow user_t crond_t:file { open read };
allow user_t crond_t:lnk_file read;
allow user_t cupsd_t:dir { getattr search };
allow user_t cupsd_t:file { open read };
allow user_t cupsd_t:lnk_file read;
allow user_t devicekit_disk_t:dir { getattr search };
allow user_t devicekit_disk_t:file { open read };
allow user_t devicekit_disk_t:lnk_file read;
allow user_t dhcpc_t:dir { getattr search };
allow user_t dhcpc_t:file { open read };
allow user_t dhcpc_t:lnk_file read;
allow user_t dri_device_t:chr_file { getattr open read write ioctl lock map };
allow user_t etc_t:file watch;
allow user_t firewalld_t:dir { getattr search };
allow user_t firewalld_t:file { open read };
allow user_t firewalld_t:lnk_file read;
allow user_t getty_t:dir { getattr search };
allow user_t getty_t:file { open read };
allow user_t getty_t:lnk_file read;
allow user_t irqbalance_t:dir { getattr search };
allow user_t irqbalance_t:file { open read };
allow user_t irqbalance_t:lnk_file read;
allow user_t kernel_t:dir { getattr search };
allow user_t kernel_t:file { open read };
allow user_t kernel_t:lnk_file read;
allow user_t locale_t:dir watch;
allow user_t local_login_t:dir { getattr search };
allow user_t local_login_t:file { open read };
allow user_t local_login_t:lnk_file read;
allow user_t modemmanager_t:dir { getattr search };
allow user_t modemmanager_t:file { open read };
allow user_t modemmanager_t:lnk_file read;
allow user_t NetworkManager_t:dir { getattr search };
allow user_t NetworkManager_t:file { open read };
allow user_t NetworkManager_t:lnk_file read;
allow user_t nscd_t:dir { getattr search };
allow user_t nscd_t:file { open read };
allow user_t nscd_t:lnk_file read;
allow user_t nscd_var_run_t:file read;
allow user_t passwd_file_t:file watch;
allow user_t pcscd_t:dir { getattr search };
allow user_t pcscd_t:file { open read };
allow user_t pcscd_t:lnk_file read;
allow user_t policykit_t:dir { getattr search };
allow user_t policykit_t:file { open read };
allow user_t policykit_t:lnk_file read;
allow user_t pulseaudio_t:process { noatsecure rlimitinh siginh };
allow user_t restorecond_t:dir { getattr search };
allow user_t restorecond_t:file { open read };
allow user_t restorecond_t:lnk_file read;
allow user_t rngd_t:dir { getattr search };
allow user_t rngd_t:file { open read };
allow user_t rngd_t:lnk_file read;
allow user_t root_t:dir watch;
allow user_t self:capability sys_nice;
allow user_t selinux_config_t:file watch;
allow user_t session_dbusd_tmp_t:sock_file write;
allow user_t snapperd_t:dir getattr;
allow user_t sshd_t:dir { getattr search };
allow user_t sshd_t:file { open read };
allow user_t sshd_t:lnk_file read;
allow user_t syslogd_t:dir { getattr search };
allow user_t syslogd_t:file { open read };
allow user_t syslogd_t:lnk_file read;
allow user_t system_dbusd_t:dir { getattr search };
allow user_t system_dbusd_t:file { open read };
allow user_t system_dbusd_t:lnk_file read;
allow user_t systemd_localed_t:dir { getattr search };
allow user_t systemd_localed_t:file { open read };
allow user_t systemd_localed_t:lnk_file read;
allow user_t systemd_logind_t:dir { getattr search };
allow user_t systemd_logind_t:file { open read };
allow user_t systemd_logind_t:lnk_file read;
allow user_t systemd_tmpfiles_exec_t:file { getattr open read execute };
allow user_t systemd_tmpfiles_t:process transition;
allow user_t udev_t:dir { getattr search };
allow user_t udev_t:file { open read };
allow user_t udev_t:lnk_file read;
allow user_t unconfined_dbusd_t:dir { getattr search };
allow user_t unconfined_dbusd_t:file { open read };
allow user_t unconfined_dbusd_t:lnk_file read;
allow user_t unconfined_service_t:dir { getattr search };
allow user_t unconfined_service_t:file { open read };
allow user_t unconfined_service_t:lnk_file read;
allow user_t unconfined_t:dir { getattr search };
allow user_t unconfined_t:file { open read };
allow user_t unconfined_t:lnk_file read;
allow user_t user_tmp_t:file execmod;
allow user_t usr_t:file watch;
allow user_t utempter_t:process { noatsecure rlimitinh siginh };
allow user_t var_run_t:dir watch;
allow user_t vdagent_t:dir { getattr search };
allow user_t vdagent_t:file { open read };
allow user_t vdagent_t:lnk_file read;
allow user_t virt_qemu_ga_t:dir { getattr search };
allow user_t virt_qemu_ga_t:file { open read };
allow user_t virt_qemu_ga_t:lnk_file read;
allow user_t xdm_t:dir { getattr search };
allow user_t xdm_t:file { open read };
allow user_t xdm_t:lnk_file read;
allow user_t xkb_var_lib_t:dir search;
allow user_t xserver_t:dir { getattr search };
allow user_t xserver_t:file { open read };
allow user_t xserver_t:lnk_file read;
allow user_t xsession_exec_t:file { getattr open read execute entrypoint };
allow utempter_t data_home_t:file { getattr write };
allow utempter_t nscd_var_run_t:file read;
allow utempter_t ptmx_t:chr_file { read write getattr ioctl };
allow utempter_t user_t:unix_stream_socket { read write };
allow vdagent_t self:capability sys_nice;
allow vdagent_t self:process setsched;
allow xdm_t chkpwd_t:process { noatsecure rlimitinh siginh };
allow xdm_t nscd_var_run_t:file read;
allow xdm_t shadow_t:file { getattr open read };
allow xdm_t unconfined_t:process { noatsecure siginh };
allow xdm_t user_t:process { noatsecure siginh };
role user_r types systemd_tmpfiles_exec_t;
role user_r types systemd_tmpfiles_t;
typeattribute user_t can_change_object_identity;
type_transition user_t systemd_tmpfiles_exec_t:process systemd_tmpfiles_t;
